::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border: 0;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #ccc;
  border: 5px solid transparent;
  border-radius: 8px;
  transition: all 0.2 ease-in-out;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-track:active {
  background-color: none
}
::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}
::-webkit-scrollbar-thumb:active {
  background-color: #ddd;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  min-width: 1024px;
  position: fixed;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  user-select: none;
  outline: none;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 1024px;
  background: center top / cover no-repeat url(./images/background.png);
}

.cwi-table {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 256px;
  z-index: 2;
  background-image: url(./images/table.png);
  background-position: center top;
  background-repeat: no-repeat;
  height: 576px;
  width: 1024px;

  &__content {
    position: absolute;
    top: 72px;
    bottom: 72px;
    left: 72px;
    right: 72px;

    &-left {
      position: absolute;
      left:0;
      top: 0;
    }

    &-right {
      position: absolute;
      right:0;
      top: 0;
    }
  }
}


button {
  background: none;
  padding: 8px 12px;
  font-family: inherit;
  border: 2px solid rgba(255,255,255,0.2);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: rgba(255,255,255,0.2);
  }

  &:active {
    background-color: rgba(255,255,255,0.4);
  }

  &:disabled {
    opacity: 0.5;
    background-color: rgba(0,0,0,0.2);
    cursor: not-allowed;
  }
}

.cwi-topbar {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  z-index: 9;
}
.cwi-toggle-music {
  margin-right: 8px;
}



@keyframes glowAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cwi-connect-play-btn {
    white-space: nowrap;
    cursor: pointer;
    background: linear-gradient(195.02deg, #D3A923 21.16%, #B68717 65.09%, #945D0A 97.13%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    padding: 8px 12px;
    font-family: inherit;
    transition: all 0.2s ease-out;

    &:hover {
      transform: translateY(-5%);
      filter: brightness(1.2);
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.40);
    }
}

.cwi-nomorebets {
  backdrop-filter: blur(24px);
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  position: absolute;
  top: 48px;
  left: 48px;
  right: 48px;
  bottom: 48px;
  z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;

  lottie-player {
    width: 128px;
    height: 128px;
  }
}

.overflower {
  height: 320px;
  overflow: auto;
  width: 640px;
}

.cwi-clear-btn {
  position: absolute;
  top: 372px;
  left: calc(50% + 290px);
  z-index: 5;
}
.cwi-book-btn {
  position: absolute;
  top: 48px;
  right: calc(50% - 480px);
  z-index: 5;
}

.cwi-winningNumber {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 48px;
  width: 120px;
  height: 120px;
  background-color: black;
  color: #fff;
  z-index: 999;
}

.cwi-logo {
  background-image: url(./images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 55px;
  width: 388px;
  position: absolute;
  top: 104px;
  left: 50%;
  transform: translateX(-50%);
}

.cwi-copyright {
  font-weight: bold;
  font-size: 8px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  color: #000000;
  opacity: 0.75;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
}

.cwi-winner-modal {
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  position: absolute;
  inset: 0;
  z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;

  lottie-player {
    width: 100vw;
    height: 100vw;
  }
  
  &__content {
    max-width: 800px;
    max-height: 480px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    animation-name: FadeFromBottom;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    box-shadow: 16px 0px 64px #000000;
    
    &-title {
      letter-spacing: -0.08em;
      font-size: 64px;
      font-weight: bold;
      margin-bottom: 32px;
    }
    &-body {
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 24px;
    }
    &-button {
      border-color: rgba(0,0,0,0.5);
      color: #222;
      font-size: 16px;
      font-weight: bold;
      padding: 16px;
    }
  }
}

@keyframes FadeFromBottom {
  0% {
    transform: translate(-50%, -10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }  
}