.cwi-pot {
  position: absolute;
  left: -24px;
  bottom: -24px;
  height: 200px;
  width: 320px;
  overflow: hidden;
}

.cwi-pot:before {
  content: '';
  display: block;
  width: 320px;
  height: 128px;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #000000 46.35%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 98px;
  left: 0;
  z-index: 1;
}

.cwi-pot__total-title {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.cwi-pot__total-value {
  text-align: center;
  font-size: 11px;
  margin-top: 8px;
}

.cwi-pot__box-back {
  background-image: url(./assets/box_back.svg);
  background-size: contain;
  width: 256px;
  height: 74px;
  position: absolute;
  top: 126px;
  left: 32px;
  z-index: 2;
}

.cwi-pot__box-front {
  background: linear-gradient(180deg, #F9F9F9 0%, #838383 88.54%, #555555 100%);
  width: 256px;
  height: 32px;
  position: absolute;
  top: 168px;
  left: 32px;
  z-index: 4;
}

.cwi-pot__box-chips {
  background: url(./assets/chips.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 172px;
  height: 149px;
  position: absolute;
  top: 200px;
  left: 76px;
  z-index: 3;
  transition: transform 0.8s ease-in-out;
}

.cwi-pot--k .cwi-pot__box-chips {
  transform: translateY(-96px);
}

.cwi-pot--m .cwi-pot__box-chips {
  transform: translateY(-128px);
}

.cwi-pot--b .cwi-pot__box-chips {
  transform: translateY(-152px);
}
